body {
  margin: 0;
}

#mycanvas {
  border: 1px dotted;
  margin: 0;
  padding: 0;
}

.avatar {
/*   display: inline-block; */
  width: 48px;
  height: 48px;
  margin-top: -5px;
}

.twatlist {
  line-height: 0;
  font: 0;
}
